<%= form_with url: search_path, method: :get, local: true, class: "search-form" do |f| %>
  <div class="search-fields">
    <%= f.label :keyword, "Search Products" %>
    <%= f.text_field :keyword, value: params[:keyword], placeholder: "Enter keyword..." %>
  </div>

  <div class="search-fields">
    <%= f.label :category_id, "Category" %>
    <%= f.select :category_id,
        options_from_collection_for_select(@categories, :id, :name, params[:category_id]),
        include_blank: "All Categories" %>
  </div>

  <%= f.submit "Search", class: "btn-search" %>
<% end %>
